/* navbar */
nav {
    display: flex;
    padding-right: 80px;
    padding-left: 40px;
    justify-content: space-between;
    
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-image: url();
    /* background-size: ; */
    background-repeat: no-repeat;
}

nav>section {
    display: flex;
    align-items: center;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    text-decoration: none;
    color: black;
}



/* Home */
.banner-container {
    height: 550px;
    border: 1px solid black;
}


/* Our Profile */
.profile-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.message-container {
    display: flex;
}

.result-container {
    width: 100%;
}

.img-profile {
    width: 100px; 
    height: 100px; 
    border: 1px solid black;
    border-radius:50%;
}


/* Message Us */
section#Message-Us {
    margin-left: 40px;
    margin-right: 40px;
}

.message_us {
    display: flex;
    margin-bottom: 50px;
}
.message_us > .message-container {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.message-container > form {
    flex-direction: row;
    display: flex;
}


/* Form */
article.form table .table-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 5px;
}

article.form table .table-row td.label {
    width: 150px;
}
article.form table .table-row td.input-table {
    margin-left: 5px;
}
article.form table .table-row td.input-table .input-text {
    width: 300px;
    align-items:center;
}

article.form table .table-row td.input-table .input-area {
    width: 302px;
    height: 100px;
}
article.form input#button-submit {
    width: 100%;
}


/* Result */
.table-container {
    border: 1px solid black;
}


/* Footer */
footer > p {
    text-align: center;
    margin-top: 20px;
}